// For template purposes

body { margin: 5em 0; }

// A border for help visualizing elements
// * { border: 2px solid $tws-dark; margin: 2px; padding: 2px; }

// Section breaks with descriptions
.description {
  margin: 4em 0;
  padding: .4em 1em;
  font-family: monospace;
  text-align: center;
  color: $action-color;
  background-color: $tws-light;
}

// Elements

.nav ul li {
  margin-left: 2em;
}

.columns .body-item {
  padding: 2em;
  text-align: center;
}

.form {
  input[type=text] {
    width: 98%;
  }
  input[type=text],
  textarea {
    margin-bottom: 1em;
  }
}