nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 1em;
}

.tws-header {
  padding: 2em 0 0;
  text-align: center;
  img {
    @include size(5em);
  }
}

.tws-description {
  margin: 4em 0;
  padding: .4em 1em;
  font-family: monospace;
  text-align: center;
  color: $action-color;
  background-color: $tws-light;
}