body {
  background: $light-gray;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 1em;
}

.tws-description {
  margin: 3em 0;
  padding: .4em 1em;
  font-family: monospace;
  text-align: center;
  color: $medium-gray;
  background-color: rgba(255,255,255,.4);
  border-radius: 1em;
}